__pycache__/
*.pyc
db.sqlite3
.env
venv/
.env.*
media/
staticfiles/
node_modules/
dist/
celerybeat-schedule
.pytest_cache/
.mypy_cache/
.venv/
.vscode/
.idea/
*.egg-info/
.eggs/
pip-wheel-metadata/
build/
.coverage
coverage.xml
*.log
.cache/
Thumbs.db
desktop.ini
.ropeproject/